<div id="code-of-conduct" class="content">
  <div class="container">
    <div class="row">

      <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3">

        <h5>Code of Conduct</h5>

        <p>We are an inclusive, kind community that is constantly growing.
        Please find our <a href="https://github.com/cascadiajs/2016.cascadiajs.com/blob/master/code-of-conduct.md">Code of
        conduct</a>, and try and make your fellow Cascadians
        (&amp; fellow programmers) feel welcome!</p>

      </div>

    </div>
  </div>
</div>
