<div class="code-of-conduct">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">

        <h4>Code of Conduct</h4>

        <p>We are an inclusive, kind community that is constantly growing.
        Please find our <a href="https://github.com/cascadiajs/2016.cascadiajs.com/blob/master/code-of-conduct.md">Code of
        conduct</a>, and try and make your fellow Cascadians
        (&amp; fellow programmers) feel welcome!</p>

      </div>

    </div>
  </div>
</div>
