<div id="hero">
  <div class="mountains-and-trees">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-xs-center center-block">
          <h1>CascadiaFEST</h1>
          <h5><span class="label label-primary">August 3rd - 5th 2016 &nbsp;•&nbsp; Semiahmoo, WA</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="hero-message">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 push-md-2 col-xl-6 push-xl-3">
        <p class="lead text-sm-center">
          <%- site.description -%>
        </p>
      </div>
    </div>
  </div>
</div>
