<div id="hero" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-xs-center center-block">
        <h1>CascadiaFEST</h1>
        <span class="label label-primary">August 3rd - 5th 2016 &nbsp;•&nbsp; Semiahmoo, WA</span>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 push-sm-2">
        <p class="lead text-sm-center">
          <%- site.description -%>
        </p>
      </div>
    </div>
  </div>
</div>
