<div id="latest-news" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-sm-center">
        <h3>News</h3>
      </div>
    </div>

    <div id="news-list" class="row"></div> <!-- /news-list -->
  </div>
</div>
