<nav id="navigation">
  <div class="container">
    <div class="row">

      <div class="col-xs-2 col-md-1">
        <a href="/" class="tree-icon"><img src="/assets/img/logos/tree-icon.svg" alt="CascadiaFEST Tree Icon" /><span class="text-hide">CascadiaFEST</span></a>
      </div>
      <div class="col-xs-10 col-md-11">
        <ul class="nav nav-pills">
          <!--<li class="nav-item">
            <a href="#" class="nav-link active">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Speakers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Venue</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Travel</a>
          </li>-->
          <li class="nav-item">
            <a href="//news.cascadiafest.org/2016/news/" class="nav-link">News</a>
          </li>
          <li class="nav-item">
            <a href="https://ti.to/event-loop/cascadiafest-2016/" class="nav-link">Purchase Tickets <i class="fa fa-ticket"></i></a>
          </li>

        </ul>

      </div>

    </div>
  </div>
</nav>
