<li>
  <p>
    <a href="/speakers/<%- id %>/">
      <span class="speaker"><%- public.speakers._data[day][id].name %></span><br>
      <%- public.speakers._data[day][id].talk.title %>
    </a>
  </p>
</li>
