<div id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="pb1 text-xs-center">CascadiaFEST Speakers</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-sm-12 offset-xs-1 offset-sm-0">
        <div class="row">
          <%- partial("../speakers/_card"); %>
        </div>
      </div>
    </div>

  </div>
</div>
