<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <h3>Tickets and Lodging on Sale</h3>
    </div>
  </div>
</div>

<div id="venue">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-md-7 offset-md-5 col-lg-6 offset-lg-6 text-sm-center text-md-left">
        <div class="info-well">

          <h4>Return with us to Semiahmoo</h4>

          <address>
            <strong>Semiahmoo Resort</strong><br>
            9565 Semiahmoo Parkway,<br>
            Blaine, WA 98230
          </address>

          <p>The Semiahmoo Resort will again be our stomping grounds for CascadiaFEST 2016. By taking over the resort, we get a unique opportunity both indoors and out, to build an awesome three days of interacting with your JavaScript and CSS communities.</p>

          <h5>Lodging at Semiahmoo</h5>

          <p class="darken">All accommodations are being arranged by the conference, please do not contact Semiahmoo directly.</p>

          <p class="text-sm-center"><a href="https://ti.to/event-loop/cascadiafest-2016/" class="btn btn-primary">Purchase Tickets and Lodging <i class="fa fa-ticket"></a></p>

          <h5><strong>Special instructions for those wanting to buddy-up for lodging</strong></h5>
          <p>For those who would like to share a double queen room or suite with a friend, please do not purchase a lodging ticket yet. You will fill out <a href="http://goo.gl/forms/TX0p35A8SD" class="blended-link">this form</a>. You must have the name of your rooming buddy at the time of entry. You will receive a follow-up form with a secret link to purchase a CascadiaFest 3-day ticket with double queen accommodation. We have priced out the double queen rooms for shared occupancy (per person). The suites are priced for the entire unit as we are trying to preserve them for families.</p>
        </div>
      </div>
    </div>

  </div>
</div>
