<%- partial("browser-header") %>

<main id="" class="conf-day no-padding">

  <%- partial("_schedule") %>

  <div class="conf-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="conf-css col-xs-6 text-xs-left">
          <a href="/css/"><i class="fa fa-arrow-left"></i> August 3, CascadiaCSS</a>
        </div>
        <div class="conf-node col-xs-6 text-xs-right">
          <a href="/node/">August 5, CascadiaJS Node Day <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <%- partial("../_partials/all-sponsors") -%>

  <%- partial("../_partials/staff") %>

</main>
