<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="CascadiaFest 2016">
    <meta property="og:description" content="CascadiaFest is a three-day, community-driven conference on the cutting edge of JavaScript and CSS. Browser, server, OS – we cover it all.">
    <meta property="og:image" content="http://2016.cascadiafest.org/assets/img/banner.png">

    <title>CascadiaFest 2016</title>

    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <%- partial("browser-header") %>

    <img src="/assets/img/sponsors/formidable.svg" width="50%" style="display: block; margin: 2em auto;"/>
  </body>
</html>



