<%- partial("css-header") %>

<main id="" class="conf-day no-padding">

  <%- partial("_schedule") %>

  <div class="conf-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 text-xs-left">
        </div>
        <div class="conf-browser col-xs-6 text-xs-right">
          <a href="/browser/">August 4th, CascadiaJS Browser Day <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <%- partial("../_partials/all-sponsors") -%>

  <%- partial("../_partials/staff") %>

</main>
