<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CascadiaFest 2016</title>

        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <%- partial("_partials/nav") %>

        <%- yield %>

        <%- partial("_partials/code-of-conduct") %>
        <%- partial("_partials/footer") %>
    </body>
</html>
