<%- partial("_partials/navigation") -%>

<%- partial("_partials/home-header") -%>

<main id="teaser">

  <div id="latest-news" class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-sm-center">
          <h3>Call For Proposals Open!</h3>

          <p>Our Call for Proposals is officially open! The deadline is
          <b>April 11, 2016 11:59:59pm Pacific Time</b>.</p>

          <p>We encourage everyone
          to submit a proposal for a talk. To get started, go to
          <a href="https://speak.cascadiafest.org">speak.cascadiafest.org</a>
          and register for an account. You may submit as many talk ideas as
          you like. Here are some ideas to get you started: <a href="https://speak.cascadiafest.org/ideas">speak.cascadiafest.org/ideas</a>.</p>

          <p>For information about the benefits of speaking at CascadiaFEST, see <a href="https://speak.cascadiafest.org/perks">speak.cascadiafest.org/perks</a>
        </div>
      </div>
    </div>
  </div>

  <div id="preview" class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-4 text-md-center theme css">
          <h3>August 3rd</h3>
          <h2>CascadiaCSS</h2>
        </div>
        <div class="col-xs-12 col-md-4 text-md-center theme browser">
          <h3>August 4th</h3>
          <h2>CascadiaJS Browser Day</h2>
        </div>
        <div class="col-xs-12 col-md-4 text-md-center theme node">
          <h3>August 5th</h3>
          <h2>CascadiaJS Node Day</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="small-trees"></div>
  <div id="connect">
    <div class="container">
      <div class="row">
        <%- partial("_partials/connect") %>
      </div>
    </div>
  </div>
  <div class="small-trees reversed"></div>

  <%- partial("_partials/staff") %>

</main>
