<main id="teaser">
  <div id="hero" class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-xs-center center-block">
          <h1>CASCADIAFEST 2016</h1>
          <img class="tree" src="/assets/img/kaleidoscope.svg" alt=""/>

          <p class="lead">
            <%- site.description -%>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="connect" class="content">
    <div class="container">
      <div class="row">
        <%- partial("_partials/connect") %>
      </div>
    </div>
  </div>
</main>