<main id="teaser">
  <div id="hero" class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-xs-center center-block">
          <h1>CASCADIAFEST 2016</h1>
          <p class="lead"><span>August 3rd - 5th, Semiahmoo, WA</span></p>
          <img class="tree" src="/assets/img/kaleidoscope.svg" alt=""/>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
          <p class="lead text-sm-center">
            <%- site.description -%>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="preview" class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-sm-center preview theme-css">
          <h3>August 3</h3>
          <h2>CascadiaCSS</h2>
        </div>
        <div class="col-xs-12 col-sm-4 text-sm-center preview theme-browser">
          <h3>August 4</h3>
          <h2>CascadiaJS Browser Day</h2>
        </div>
        <div class="col-xs-12 col-sm-4 text-sm-center preview theme-node">
          <h3>August 5</h3>
          <h2>CascadiaJS Node Day</h2>
        </div>
      </div>
    </div>
  </div>

  <div id="connect" class="content">
    <div class="container">
      <div class="row">
        <%- partial("_partials/connect") %>
      </div>
    </div>
  </div>
</main>