<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CascadiaFest 2016</title>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/assets/css/splash.css">
    </head>
    <body>
        <main id="splash">
            <div class="wrapper">
                <p>In Cascadia, we’ve been inspired to push ourselves into growing
                the community we want to see every year&mdash;being ever more inclusive,
                having even bigger hearts, and pushing rad JavaScript boundaries.</p>

                <p>Cascadia<span class="thin">FEST</span> wouldn’t exist if not
                for Chris and Laura. We wish
                them the best and are honored to carry on the JSConf tradition
                here in the Pacific Northwest.</p>

                <img id="tree" src="/assets/img/tree-heart.svg" />
            </div>
        </main>


        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58428228-2', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
