<link rel="stylesheet" href="/assets/styles.css" />

<h1>styleguide</h1>

<h2>colors</h2>

<div class="color-block color-block-dark" style="background-color: #0b4f4d">
	<p>$cjs-color-primary: #0b4f4d; //Dark green;</p>
</div>


<div class="color-block color-block-dark" style="background-color: #33a143;">
	<p>$cjs-color-secondary: #33a143;</p>
</div>

<div class="color-block color-block-light" style="background-color: hsl(57,100%,50%);">
	<p>$cjs-color-alt: hsl(57,100%,50%);</p>
</div>

<div class="color-block color-block-dark" style="background-color: #062c03;">
	<p>$cjs-color-dark-green: #062c03;</p>
</div>

<div class="color-block color-block-dark" style="background-color: #062B00;">
	<p>$cjs-color-green: #062B00;</p>
</div>

<div class="color-block color-block-dark" style="background-color: #33a143;">
	<p>$cjs-color-lt-green: #33a143;</p>
</div>

<div class="color-block color-block-dark" style="background-color: #1c2e4c;">
	<p>$cjs-color-dk-blue: #1c2e4c;</p>
</div>

<div class="color-block color-block-dark" style="background-color: #2f4e80;">
	<p>$cjs-color-lt-blue: #2f4e80;</p>
</div>

<div class="color-block color-block-dark" style="background-color: #0B4F4D;">
	<p>$cjs-color-aqua-blue: #0B4F4D;</p>
</div>

<div class="color-block color-block-dark" style="background-color: #639">
	<p>@cssday-color: #639; // rebeccapurple</p>
</div>

<div class="color-block color-block-dark" style="background-color: #eb7e2f">
	<p>@serverday-color: #eb7e2f; // octopusorange</p>
</div>

<div class="color-block color-block-dark" style="background-color: #60713e">
	<p>@browserday-color: #60713e; // forestgreen</p>
</div>

# fonts

# Logo

# The Tree

# Imagery