<link rel="stylesheet" href="/assets/styles.css" />

<h1>styleguide</h1>

<h2>colors</h2>

<div class="row">
	<div class="color-block raw-green"></div>
	<div class="color-block raw-blue"></div>
	<div class="color-block raw-red"></div>
	<div class="color-block raw-purple"></div>
  <div class="color-block raw-orange"></div>
	<div class="color-block raw-yellow"></div>
</div>

<div class="row">
	<div class="color-block primary-green"></div>
	<div class="color-block primary-blue"></div>
	<div class="color-block primary-red"></div>
	<div class="color-block primary-purple"></div>
  <div class="color-block primary-orange"></div>
	<div class="color-block primary-yellow"></div>
</div>

<div class="row">
	<div class="color-block secondary-green-light"></div>
	<div class="color-block secondary-blue-light"></div>
	<div class="color-block secondary-red-light"></div>
	<div class="color-block secondary-purple-light"></div>
  <div class="color-block secondary-orange-light"></div>
	<div class="color-block secondary-yellow-light"></div>
</div>

<div class="row">
	<div class="color-block secondary-green"></div>
	<div class="color-block secondary-blue"></div>
	<div class="color-block secondary-red"></div>
	<div class="color-block secondary-purple"></div>
  <div class="color-block secondary-orange"></div>
	<div class="color-block secondary-yellow"></div>
</div>

<div class="row">
	<div class="color-block secondary-green-dark"></div>
	<div class="color-block secondary-blue-dark"></div>
	<div class="color-block secondary-red-dark"></div>
	<div class="color-block secondary-purple-dark"></div>
  <div class="color-block secondary-orange-dark"></div>
	<div class="color-block secondary-yellow-dark"></div>
</div>

<div class="row">
	<div class="color-block neutral-green-light"></div>
	<div class="color-block neutral-blue-light"></div>
	<div class="color-block neutral-red-light"></div>
	<div class="color-block neutral-purple-light"></div>
  <div class="color-block neutral-orange-light"></div>
	<div class="color-block neutral-yellow-light"></div>
</div>

<div class="row">
	<div class="color-block neutral-green"></div>
	<div class="color-block neutral-blue"></div>
	<div class="color-block neutral-red"></div>
	<div class="color-block neutral-purple"></div>
  <div class="color-block neutral-orange"></div>
	<div class="color-block neutral-yellow"></div>
</div>

<div class="row">
	<div class="color-block neutral-green-dark"></div>
	<div class="color-block neutral-blue-dark"></div>
	<div class="color-block neutral-red-dark"></div>
	<div class="color-block neutral-purple-dark"></div>
  <div class="color-block neutral-orange-dark"></div>
	<div class="color-block neutral-yellow-dark"></div>
</div>

<div class="row">
	<div class="color-block mostly-white"></div>
	<div class="color-block mostly-black"></div>
</div>


# fonts

# Logo

# The Tree

# Imagery