# Ride the HackerBus | HackerTrain

<a href="https://ti.to/event-loop/cascadiafest-2016/" class="btn btn-success">Purchase Hacker Train Tickets</a>

Have you made your travel plans for CascadiaJS yet? Hacker Train is back and it's going to be our biggest yet!

**NOTE: This is ROUND-TRIP.**

This year, HackerTrain has grown into HackerTrain and HackerBus! For our Portland folks, we have space in the train reserved so that our Cascadian folk are able to nerd out, wifi it up, and make some new friends on the way up to Seattle to join our HackerBus group departing in the afternoon. That means our Seattle and Vancouver friends will have HackerBuses that will take everyone from the destination city and deliver to the doors of Semiahmoo Resort in perfect time for getting settled for the conference.

<%- include schedule.md %>

Plan to arrive at the departure location no later than 30 minutes prior to departure. Your captain will be waiting along with your group. Amtrak will only allow boarding when all are present.

After you've registered, we'll get in contact to coordinate our group departure and introduce the captains. We'll also coordinate some optional social activities for the ride.

If you have ANY questions, please [email us](mailto: info@cascadiajs.com)!
