<div id="alt-hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-xs-center center-block">
          <h1>Travel information</h1>
        </div>
      </div>
    </div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <address>Semiahmoo Resort<br>9565 Semiahmoo Parkway<br>Blaine, WA.</address>

        <h2>Getting to and from the Cascadia&nbsp;funtimes</h2>

        <h3>Planes &amp; Trains</h3>

        <p>Blaine is a beautiful departure from some of our larger Cascadian tech city centers. The closest airport is Bellingham International Airport.</p>

        <p>If you are traveling by air, we recommend flying into Seattle's SeaTac airport, catching the light rail to the Intl District Station using the <a href="//www.soundtransit.org/schedules/central-link-light-rail">Link Light Rail</a>, <a href="https://goo.gl/maps/ZRn8U">walking over to the Amtrak King Street Station</a> and hopping the <a href="/travel/hackertrain.html">Hacker Bus or Hacker Train</a> with your fellow Cascadian friends.</p>

        <img alt="walk from Link Light Rail stop to Amtrak" src="/assets/img/link-amtrak-walk.png" />

        <p>HackerBus and HackerTrain tickets are now available! Please see the HackerTrain page for full details and schedule for the various Cascadian centers you are traveling in from.</p>

        <p>If you're unable to make the Hacker Train departure, <a href="//amtrak.com">Amtrak</a> provides a few options to getting you to your destination at Bellingham Amtrak Station (BEL).</p>

        <h3>Buses</h3>

        <p>In addition to the Cascadia HackerBus and HackerTrain options, bus service to and from Bellingham is available via either <a href="//www.boltbus.com">BoltBus</a> or <a href="//www.greyhound.com">GreyHound</a>.</p>

        <p><strong>If you travel to Bellingham by bus, you will need to arrange your own ride service from the bus station to Semiahmoo Resort.</strong></p>

        <p>While Bellingham and Blaine do not have an Uber presence, these cities do have plenty of well-recommended cab companies: <a href="//www.yellowpages.com/bellingham-wa/mip/rommels-taxi-474134936">Rommel's Taxis</a> can be reached via phone at <a href="tel:13605101177">1 (360) 510-1177</a> or <a href="http://yourcabco.com/">Your Cab Company</a> at <a href="tel:13607464943">1 (360) 746-4943</a> and are usually very responsive.</p>

        <h3>Hacker Bus Schedule</h3>

        <%- include schedule.md %>

        <h3>Automobiles</h3>

        <p>If you're traveling by car, there will be ample free parking at our venue. Point your final navigation for the event to Semiahmoo Resort at 9565 Semiahmoo Parkway in Blaine, WA.</p>

      </div>
    </div>
  </div>
</main>
