<%- partial("node-header") %>

<main id="" class="conf-day no-padding">

  <%- partial("_schedule") %>

  <div class="conf-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="conf-browser col-xs-6 text-xs-left">
          <a href="/browser/"><i class="fa fa-arrow-left"></i> August 4th, CascadiaJS Browser Day</a>
        </div>
        <div class="col-xs-6 text-xs-right">
        </div>
      </div>
    </div>
  </div>

  <%- partial("../_partials/all-sponsors") -%>

  <%- partial("_partials/staff") %>

</main>
