<div id="hero" class="node-day">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-xs-center center-block">
        <h1>CascadiaJS</h1>
        <h5><span class="label label-primary">August 5th 2016 &nbsp;•&nbsp; Semiahmoo, WA</span></h5>
        <h2>Node Day</h2>
      </div>
    </div>
  </div>

</div>

<div id="hero-message" class="node-day">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 push-md-2 col-xl-6 push-xl-3">
      </div>
    </div>
  </div>
</div>
