
<main id="" class="no-padding">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>Live Captions</h1>
        <p class="">
          Live text of our talks, provided by
          <a href="<%- public.sponsors._data.mozilla.url %>">
            <img src="<%- public.sponsors._data.mozilla.logo %>" alt="Mozilla" style="height: 1.5em;"/>
          </a>
        </p>

        <p>
          <button class="btn btn-info" onclick="toggleCaptionHeader();">Toggle Header</button>
          <button class="btn btn-info" onclick="toggleCaptionColors();">Toggle Colors</button>
        </p>

        <iframe id="captions" src=""></iframe>
      </div>

      <div class="col-xs-12">


      </div>
    </div>
  </div>

</main>