<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="CascadiaFest 2016">
        <meta property="og:description" content="CascadiaFest is a three-day, community-driven conference on the cutting edge of JavaScript and CSS. Browser, server, OS – we cover it all.">
        <meta property="og:image" content="http://2016.cascadiafest.org/assets/img/banner.png">

        <title>CascadiaFest 2016</title>

        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <main id="captions-mini" class="no-padding">

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h1>
                  CascadiaFest Live Captions
                  <small style="font-size: 1rem;">
                    provided by
                    <a href="<%- public.sponsors._data.mozilla.url %>">
                      <img src="<%- public.sponsors._data.mozilla.logo %>" alt="Mozilla" style="height: 1.5em;"/>
                    </a>
                  </small>
                </h1>

                <!-- <p>
                  <button class="btn btn-info" onclick="toggleCaptionHeader();">Toggle Header</button>
                  <button class="btn btn-info" onclick="toggleCaptionColors();">Toggle Colors</button>
                </p> -->

                <iframe id="captions" src=""></iframe>
              </div>

              <div class="col-xs-12">


              </div>
            </div>
          </div>

        </main>
    </body>
</html>