<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="CascadiaFest 2016">
        <meta property="og:description" content="CascadiaFest is a three-day, community-driven conference on the cutting edge of JavaScript and CSS. Browser, server, OS – we cover it all.">
        <meta property="og:image" content="http://2016.cascadiafest.org/assets/img/banner.png">

        <title>CascadiaFest 2016</title>

        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <%- partial("../_partials/navigation") %>

        <main>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <%- yield %>
              </div>
            </div>
          </div>
        </main>

        <%- partial("../_partials/code-of-conduct") %>
        <%- partial("../_partials/footer") %>
    </body>
</html>


