<h1>Lodging Information</h1>

<h2>STAYING AT SEMIAHMOO RESORT</h2>

<p>UPDATE: Lodging at Semiahmoo is still available for the full CascadiaFest 3-day tickets as well as for single nights from August 2 through August 6.</p>

<p class="text-xs-center"><a href="https://ti.to/event-loop/cascadiafest-2016/" class="btn btn-success">BUY LODGING</a></p>

<h3>STAYING IN BELLINGHAM</h3>

<p>We have arranged for overflow lodging in Bellingham, WA at the Best Western PLUS Heritage Inn and will be running a FREE shuttle to/from the venue. We suggest booking for an August 2 check-in and an August 6 check-out in order to take full advantage of the fun schedule we're working on.</p>

<p><img alt="Best Western" src="/assets/img/bestwestern-map.png" /></p>

<ul>
  <li>151 East McLeod Road, Bellingham WA, 98226</li>
  <li>(360) 647-1912</li>
  <li><a href="http://www.bestwesternheritageinn.com/">http://www.bestwesternheritageinn.com/</a></li>
</ul>

<p>Rates are valid for the nights of August 2, 3, 4 and 5. Call the hotel directly and ask to book the CascadiaFest group rate.</p>

<h3>Vacation Rentals</h3>

<p>If you're interested in looking into a vacation rental, here are some sites you might want to check-out:</p>

<ul>
  <li><a href="https://www.airbnb.com/">AirBnB</a></li>
  <li><a href="http://www.homeaway.com/">Homeaway</a></li>
  <li><a href="http://www.vrbo.com/">VRBO</a></li>
</ul>

<p><img alt="Birch Bay Park" src="/assets/img/birchbay-map.png" /></p>

<p>Feeling adventerous? Birch Bay Park is about 15 minutes away from Semiahmoo Resort by car and has 147 standard campsites, 20 water and electric sites, 8 restrooms (one ADA), and 18 showers (two ADA). Campsites are reservable online!</p>
