
<main class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="text-xs-center">Sponsors</h2>
            </div>

            <div class="col-xs-12 sponsor-block border-left-green">
              <% for(var key in public.sponsors._data) { %>
                <img src="<%- public.sponsors._data[key].logo %>" class="sponsor-logo">
                <h3><a href="<%- public.sponsors._data[key].url %>"><%- public.sponsors._data[key].name %></a></h3>
                <p><%- public.sponsors._data[key].description %></p>
              <% } %>
            </div>

            <div class="col-xs-12">
              <h3>Sponsoring CascadiaFest</h3>

              <p>Each year, our generous sponsors help us create an outstanding
              experience for all CascadiaFest attendees and their families. Sponsorship
              funds allow us to provide multiple scholarships, onsite WiFi,
              high-quality videos of the talks, ASL interpretation, and many other
              valuable services. Sponsors help make CascadiaFest the esteemed event
              our community has come to count on!</p>

              <p>To learn more about becoming a beloved CascadiaFest Sponsor, please
              see <a href="/assets/2016-sponsor-brochure.pdf">our brochure</a>, or
              email us directly at
              <a href="mailto:sponsorships@cascadiajs.com">sponsorships@cascadiajs.com</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
